.nav_ul{
	width: auto;
	position: absolute;
	top: 25px;
	list-style: none;
	right: 150px;
}

.nav_ul>li{
	float: left;
	margin-left: 30px;
	font-size: 20px;
	color: white;
}

.nav_ul>li>a{
	color: white;
}
